.about {
  background: url('../images/about.svg');
  background-color: #faf3e6;
  background-size: cover;
  background-repeat: no-repeat;
  color: #f4f4f4;
}

.about .content {
  padding: 100px 60px 50px 60px;
  text-align: center;
}

.about .content img {
  display: block;
  margin: 0 auto;
  margin-bottom: 50px;
}

.about .content span {
  font-family: 'Work Sans', sans-serif;
  font-size: 16px;
  line-height: 22px;
}

.about .content h2 {
  font-family: 'Crimson Text', serif;
  font-size: 26px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.04em;
  margin-bottom: 24px;
}

.about .content p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 15px;
}

@media only screen and (min-width: 600px) {
  .about {
    background: url('../images/about-desktop.svg');
    background-color: #faf3e6;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .about .content {
    padding: 50px 60px;
  }

  .about .content .info {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .about .content .info img {
    margin: 0;
  }

  .about .content .info h2 {
    margin-bottom: 0;
  }

  .about .content .info div {
    display: flex;
    flex-direction: column;
    margin-left: 56px;
  }

  .about .content .details {
    display: flex;
    justify-content: center;
    padding-top: 50px;
  }

  .about .content .details p {
    max-width: 240px;
  }
}
