.call-to-action {
  height: 450px;
  background: #f6f6ef;
  text-align: center;
}

.call-to-action .quote-icon {
  height: 30px;
  width: 30px;
  margin: 0 auto;
  padding-top: 60px;
}

.call-to-action p {
  font-family: 'Karla', sans-serif;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  margin: 0 auto 40px auto;
  margin-bottom: 24px;
  padding-top: 10px;
  width: 240px;
  color: #44484B;
}

.call-to-action span {
  display: block;
  font-family: 'Crimson Text', serif;
  font-weight: normal;
  font-size: 40px;
  line-height: 100%;
  color: #484B4D;
  width: 245px;
  margin: 0 auto 40px auto;
  letter-spacing: -0.045em;
}

.call-to-action button {
  width: 217px;
  height: 40px;
  background: #E0866D;
  border-radius: 4px;
  font-family: 'Karla', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 150%;
  padding: 8px 24px;
  border: none;
  color: #fff;
}