.contact {
  background: url('../images/contact.svg');
  background-repeat: no-repeat;
  background-color: #ccdede;
  background-size: cover;
  padding: 100px 0;
  color: #8d6530;
}

.contact span {
  display: block;
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 16px;
  padding-left: 60px;
}

.contact .footer {
  display: flex;
  justify-content: center;
  margin-bottom: 18px;
}

.contact .footer iframe {
  width: calc(100% - 20px);
}

.contact .footer span {
  font-weight: 600;
}

.contact .whats-btn {
  width: 215px;
  height: 40px;
  background: #8d6530;
  border-radius: 6px;
  font-family: 'Karla', sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  padding: 8px 24px;
  border: none;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.contact .instagram-link {
  height: 24px;
  width: 24px;
  display: block;
  margin: 0 auto;
  padding-top: 20px;
}

.contact .instagram-link img {
  height: 24px;
}

@media only screen and (min-width: 600px) {
  .contact {
    background: url('../images/contact-desktop.svg');
    background-repeat: no-repeat;
    background-color: #ccdede;
    background-size: cover;
    display: flex;
    padding: 100px 100px 50px 100px;
  }

  .contact .default {
    width: 310px;
    flex: 1;
  }

  .contact .footer {
    display: flex;
    justify-content: center;
    flex: 1;
  }

  .contact .footer .address {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
  }

  .contact .footer .address span {
    margin-bottom: 0;
  }

  .contact .footer .info {
    padding-top: 20px;
  }
}
