.job {
  background: #ccdede;
  padding: 80px 60px;
  text-align: center;
  color: #416a6a;
}

.job span {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.job h3 {
  display: block;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  letter-spacing: -0.045em;
  margin-bottom: 40px;
}

.job .main {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 10px;
  text-align: left;
}

.job ul {
  text-align: left;
}

.job ul li {
  list-style: none;
  margin-bottom: 30px;
}

.job ul li p {
  margin-bottom: 8px;
}

.job ul li h3 {
  display: flex;
  align-items: center;
  font-family: 'Crimson Text', serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 36px;
  letter-spacing: -0.04em;
  position: relative;
  padding-left: 44px;
  margin-bottom: 14px;
}

.job ul li h3:before {
  content: '';
  height: 28px;
  width: 28px;
  background: url('../images/dot.svg');
  position: absolute;
  left: 0;
}

.job ul li p {
  font-family: 'Work Sans', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  padding-left: 44px;
}

@media only screen and (min-width: 600px) {
  .job {
    padding: 80px 100px;
  }

  .job ul {
    display: flex;
  }

  .job ul li {
    flex: 1;
  }

  .job ul li:first-of-type {
    padding-right: 50px;
  }

  .job .main {
    margin-bottom: 14px;
    text-align: left;
  }
}
