.new-how {
    background: var(--deep-green);
    color: var(--light-red);
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-block: 64px;
    position: relative;

    background-image: url("../images/new-divan-complete-logo.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.new-how::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.55);
    mask-image: url("../images/new-divan-complete-logo.svg");
    mask-size: contain;
    mask-position: center;
    mask-repeat: no-repeat;
    -webkit-mask-image: url("../images/new-divan-complete-logo.svg");
    -webkit-mask-size: contain;
    -webkit-mask-position: center;
    -webkit-mask-repeat: no-repeat;
    pointer-events: none;
}

.new-how .section-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.new-how .new-how-content {
    z-index: 1;
}

.new-how .new-how-content .new-how-title {
    font-family: var(--font-family-primary);
    font-size: clamp(24px, 4vw, 32px);
    font-weight: 700;
    color: var(--light-red);
    text-align: center;
}

.new-how .new-how-content .new-how-subtitle {
    font-family: var(--font-family-primary);
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    color: var(--light-red);
    margin-bottom: 32px;
    text-align: center;
}

.new-how .new-how-content .new-how-description {
    font-family: var(--font-family-primary);
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 400;
    color: var(--light-red);
    text-align: center;
    margin-bottom: 16px;
    max-width: 750px;
}